.aboutMeContainer {
  position: relative;
  width: 100%;
}

.aboutMeContent {
  display: flex;
  flex-direction: row;
  
  margin-left: 10%;
  margin-right: 10%;

}

.aboutMeContent img {
  padding-bottom: 20px;
  border-radius: 50px;
}

.sectionTitle {
  text-align: start;
  margin-top: 40px;
  margin-left: 10%;
}

.container {
  margin-top: 20px;
}

.aboutMeText {
  margin-bottom: 10px;
  margin-left: 50px;
}

@media (max-width: 950px) {
  .aboutMeContent {
    flex-direction: column;
    align-items: center;
  }

  .aboutMeContent img {
    max-height: 500px;
    max-width: 300px;
  }

  .aboutMeText {
    margin-bottom: 25px;
  }
}