.allCards {
    padding-right: 10px;
    padding-left: 10px;
    
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.card-body {
    background-image: cover;
    background-repeat: no-repeat;
    background-color: #2E2C2F;
    border-radius: 25px;
    margin-bottom: 25px;
    
}

#cardImageContainer {
    height: 150px;
    border-radius: 25px 25px 0 0;
}

a {
    color: white;
}

.primaryCard {
    flex-basis: 100%;
}

.secondaryCard {
    flex-basis: 50%;
}

.tertiaryCard {
    flex-basis: 33%;
}
