.footerContainer {
    background-color: #729B79;
}

.footerText {
    padding-top: 10px;
}

.socialMediaContainer a {
    color: white;
}

.socialMediaIcon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: xx-large;
}